*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "work sans";
}

html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    /* background-color: aqua;     */
}

#nav{
    height: 70px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
#nav-top{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

#nav-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.logo{
    height: 22px;
    width: 22px;
    background-color: black;
    border-radius: 50%;
}

#nav-bottom h4{
    font-size: 15px;
    font-weight: 600;
}

#nav-bottom h4 span{
    color: rgb(113, 109, 109);
    margin-left: 20px;
}

#nav-2{
    height: 60px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    gap: 70px;
    padding: 0 40px;
}
#nav-2 h3{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
}

#content{
    height: calc(100% - 130px);
    width: 100%;
    /* background-color: aqua; */
}
#text-content{
    height: 40%;
    width: 100%;
    /* background-color: burlywood; */
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

#text-content::-webkit-scrollbar{
    background-color: transparent;
    height: 4px;
}

#text-content::-webkit-scrollbar-thumb{
    background-color: orangered;
}

.elem{
    flex-shrink: 0;
    height: 100%;
    width: 60%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.elem h1{
    font-size: 120px;
    font-weight: 300;
}

#image-content{
    height: 60%;
    width: 100%;
    background-color: purple;
    display: flex;
    overflow-x: auto;
}

#image-content::-webkit-scrollbar{
    display: none;
}

#image-content img{
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}